.container 
  .page-header
    %h1
      =link_to "â†", root_path
      =link_to "Cours", courses_year_index_path

    -@courses.each_pair do |k,v|
      %dl.span3
        %dt
          %h2
            = link_to k, courses_year_matters_path(k)
        %dd
          %ul
            - v.each do |matter|
              %li
                = link_to matter.name, courses_year_matter_documents_path(k, matter.name)
                %small (#{matter.documents.count})

          = link_to "+", new_courses_year_matter_path(k), class: "btn btn-small"

            
