.container 
  .page-header
    %h1
      =link_to "â†", root_path
      =link_to "Cours", courses_year_index_path
    .btn-group.btn-group-vertical
      =link_to "1A", courses_year_matters_path("1A"), class: "btn btn-large btn-info"
      =link_to "2A", courses_year_matters_path("2A"), class: "btn btn-large btn-success"
      =link_to "3A", courses_year_matters_path("3A"), class: "btn btn-large btn-warning"
