.container 
  .page-header
    %h1 
      = image_tag "logo-256px.png", width: 64
      Intranet ENSIIE Strasbourg 

  .row
    %p
      Ceci est la première version de l'Intranet, vous pouvez partager les photos autour des évènements de l'école, ainsis que partager des cours.
      De plus si vous souhaitez développer une application pour votre club ou association, un système d'authentification oauth est disponible ainsi 
      qu'une API.
      =link_to "Documentation développeur", developers_root_path(subdomain: "developers")

      %br
      Nous avons fait le choix de placer l'application sur Github, ainsi chaque personne de l'école est libre de
      %a{href: "https://github.com/ares-ensiie/SXBIntranet"}contribuer à l'évolution de l'application !


