
.container
  .row
    .page-header
      %h1 Bienvenue sur l'intranet des iiens de Strasbourg

.container-fluid
  .row-fluid
    .span3
      %h3 Services
      %ul
        %li
          =link_to "Ragots", ragots_path
        %li
          =link_to "Galerie", gallery_path
        %li Trombinoscope
        %li
          =link_to "Cours", documents_path
        %li Stage
        %li Étranger
      %h3 Clubs et Assos
      %ul
        %li Drinkiit
        %li Kawaiie
    .span6
      %h2 Derniers ajouts sur le site

      %p 
        Vous pourrez trouver les 
        =link_to "ragots", ragots_path
        , mais aussi la 
        =link_to "galerie", gallery_path
        contenant toutes les photos !
    .span3
      .last_ragots
        %h3 Derniers ragots
        %ul 
          - @ragots.each do |r|
            %li
              =r.content



