.page-header
  %h1 
    Intranet ENSIIE Strasbourg 

.row
  = image_tag "logo-128px.png", class: "center-image"

.row
  %p
    Ceci est la première version de l'Intranet, vous pouvez partager les albums photos autour des évènements de l'école, ainsi que partager tous les documents de cours
    que vous avez pu récupérer ! De plus si vous souhaitez développer une application pour votre club ou association, un système d'authentification oauth
    est disponible ainsi qu'une webservice permettant d'accéder aux données de l'association. (
    =link_to "Documentation développeur", developers_root_url(subdomain: "developers")
    )

    %br

    Nous avons fait le choix de placer l'application sur Github, ainsi chaque personne de l'école est libre de
    %a{href: "https://github.com/ares-ensiie/intranet"}contribuer à l'évolution de l'application ! 
    Nous vous y encourageons fortement !
