.container 
  .page-header
    %h1
      =link_to "â†", root_path
      =link_to "Cours", courses_matters_path

  .row
    = link_to "Ajouter un document", new_courses_document_path, class: "btn btn-info"
  .row

    -@courses.each_pair do |k,v|
      %dl.span3
        %dt
          %h2=k
        %dd
          %ul
            - v.each do |matter|
              %li
                = link_to matter.name, courses_matter_documents_path(matter.name)
                %small (#{matter.documents.count})
