.container
  .page-header
    %h1 
      =link_to "â†", courses_year_index_path
      =link_to "Cours", courses_year_index_path
      ="/"
      =link_to @year, courses_year_matters_path(@year)
  %ul
    - @courses.each do |c|
      %li=link_to c.name, courses_year_matter_documents_path(@year, c.name)

