// Place all the styles related to the album controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap/image-gallery";
@import "jquery.fileupload-ui";

.album_desc {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  min-height: 50px;
  margin-bottom: 20px;
}

#gallery a img{
  padding-bottom:5px;
}

#edit-thumbs {
  position:relative;
}

.edit-thumb {
  position:absolute;
}

.edit-thumb-mask {
  background-image: url(/assets/red_mask.png)
}

span.edit-img {
  margin-left:5px;
  display:inline-block;
  height:50px;
  width:50px;
  span {
	  position:absolute;
	  cursor:pointer;
	  display:inline-block;
	  height:50px;
	  width:50px;
  }
}
