%h1 Nouvelle pormotion

= simple_form_for [:admin, @promotion], html: { class: 'form-horizontal' } do |f|
  = f.input :name
  .form-actions
    = f.submit class: 'btn btn-primary', confirm: "Êtes vous sur de créer une nouvelle promotion"
