.container
  .row
    .page-header
      %h1
        = link_to "â†", gallery_path
        = @album.name
    - if !@album.photos.empty?
      #gallery{ "data-toggle" => "modal-gallery", "data-target" => "#modal-gallery"}
        - @album.photos.each do |p|
          = link_to (image_tag p.photo.url(:thumb)), p.photo.url , :rel => "gallery", :title => p.name

= render 'album/modal' 


