.container
  .row
    .page-header
      %h1
        = @album.name
    - if !@photos.empty?
      #gallery{ "data-toggle" => "modal-gallery", "data-target" => "#modal-gallery"}
        - @photos.each do |p|
          = link_to (image_tag p.thumb_path), p.photo_path , :rel => "gallery", :title => p.name

= render 'album/modal' 


