.container
  .page-header 
    %h1
      =link_to "â†", courses_year_matters_path(@year)
      =link_to "Cours", courses_year_index_path
      ="/"
      =link_to @year, courses_year_matters_path(@year)
      ="/"
      =@course_label
  %ul
    - @documents.each do |d|
      %li=link_to d.name, d.file.url
