// Place all the styles related to the album controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap/image-gallery";
@import "jquery.fileupload-ui";

.album_desc {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  min-height: 100px;
  margin-left: 30px;
  margin-right: 30px;
}
