//= require_self
//= require_tree ./gallery
//= require ./account
//= require ./brand

@import bootstrap

body
  height: 100%

.menu
  top: 40px 
  margin-left: 10px
  margin-bottom: 35px
  border-radius: 6px
  li:first-child
    a, h5, p
      border-radius: 6px 6px 0 0
  li:last-child
    a, h5, p
      border-radius: 0 0 6px 6px
  li
    line-height: 20px
    display: list-item
    text-align: match-parent
    a, p, h5
      display: block
      margin: 0 0 -1px
      padding: 8px 14px
      border: 1px solid #c5c5c5
    a.disable
      color: #959595
      background-color: #e5e5e5
  li.coming
    span
      position: relative
      top: 5px
      color: red
      font-size: 10px

#wrap
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -32px
  > .container-fluid
    padding-top: 60px

#push
  height: 32px

#footer
  height: 32px
  background-color: #f2f2f2
  .container
    margin-top: 10px 
    margin-bottom: 10px
    vertical-align: middle
    color: #999


