// Place all the styles related to the ragots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brown: #E0D99F;
$font-color: #543927;

@font-face
{
  font-family: BistroBlock;
  src: url('/BistroBlock.ttf');
}

li.ragot {
  margin: 10px 15px 15px 10px;
  padding: 3px 0px 3px 10px;
  color: $font-color;
  background-color: $brown;
  border-radius: 10px;
}

span.ragot_date {
  float: right;
  margin-right: 20px;
  position:relative;
  top: 12px;
  font-weight: bold;
  text-shadow: #AAA 1px 1px 1px;
}

$back-txt-color: #F5D1B3;
$back-txt-shadow: darken($back-txt-color, 5%);

p.background {
  float: right;
  margin-right: 30%;
  margin-top: 15px;

  color: $back-txt-color;
  font-size: 36pt;
  font-family: BistroBlock;
  text-shadow: $back-txt-shadow 2px 2px 5px;
}
