// Place all the styles related to the ragots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brown: #E0D99F;
$font-color: #543927;

li.ragot {
  margin: 10px 15px 15px 10px;
  padding: 3px 0px 3px 10px;
  color: $font-color;
  background-color: $brown;
  border-radius: 10px;
}

span.ragot_date {
  float: right;
  margin-right: 20px;
  position:relative;
  top: 12px;
  font-weight: bold;
  text-shadow: #AAA 1px 1px 1px;
}
